<div class="container-fluid ">
    <div class="container-fluid w-50">
        <div class="row">
            <div class="col">
                <h1><%= @post.title%></h1>
            </div>
    
        </div>
    
        <div class="row">
            <div class="col">
               <%= simple_format(@post.body) %>
            </div>
    
        </div>

        <div class="row">
            <div class="col custom-comments-counter">
            <% if @post.comments.count > 0%>
                <%= @post.comments.count%> Comments
            <% else %>
                No comments yet. Leave us yours!

            <% end %>
            
            </div>
        
        </div>
    
    
            
        <div class="row">
                <div class="col custom-form-comments">
                    <%= render partial: "comment-form",
                    locals: {post: @post, new_comment: @new_comment} %>
                </div>
        </div>


        <div class="row">
            <div class="col custom-comments">
                <%= render partial: "comments",
                locals: {comments: @post.comments}%>
            </div>

        </div>

    </div>


</div>
